.body{
    margin: 0;
}
.premain{
    text-align: center;
    color: rgba(255, 255, 255, 0.596);
    height: 70px;
    padding-top: 10px;
    font-size: 14px;
}
/*animation*/
/*transition*/
.main{ 
    padding-bottom: 20px;
    background-image: url(background.jpg); 
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: scroll;      
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
}
.box1{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 24px;
}
.box2 ul{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 30px;
    list-style-type: none;
    justify-content: flex-end;
    position: relative;
    align-items: center;
    padding: 0px 8px 0px 0px;
    width: 351px;
}
.modal{
    display: none;
    position: fixed;
    z-index: 1; /*sit on top*/
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /*enable scroll*/
    background-color: rgba(0, 0, 0, 0.2);
}
.modal-content{
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    text-align:center;
    height: 300px;
    width: 80%;
    font-weight: bolder;
    font-size: 15px;
}
.close{
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover, 
.close:focus{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.button1{
    padding: 5px;
    border-radius: 50px;
    align-items: center;
    background-color: #FFFFFF;
    height: 42px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    transition: box-shadow 0.2s;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown a:hover {background-color: #ddd;}
.show {display: block;}

.bar{
    display: flex;
    flex-direction: column;

}
.select-bar{
    text-align: center;
}
.숙소{
    display: flex;
    flex-direction: row;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    padding: 10px 12px;
    pointer-events: auto;
    position: relative;
    text-align: center;
    color: #222222;
}
.체험{
    display: flex;
    flex-direction: row;
    font-size: 16px;
    line-height: 20px ;
    cursor: pointer ;
    display: inline-block ;
    font-weight: 400 ;
    padding: 10px 12px;
    pointer-events: auto;
    position: relative;
    text-align: center;
    color: #222222;
}
.온라인이벤트{
    display: flex;
    flex-direction: row;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    padding: 10px 12px;
    pointer-events: auto;
    position: relative;
    text-align: center;
    color: #222222;
}
.search-bar{
    display:flex;
    padding: 10px 12px;
    margin-left: 300px;
    margin-right: 300px;
    pointer-events: auto;
    position: relative;
    text-align: center;
    border: 1px solid;
    border-color: white;
    border-radius: 32px;
    background: white;
    font-size: 14px;
}
.location{
    flex: 1;
    border: 1px solid transparent;
    border-radius: 32px;
    cursor: pointer;
    margin-left: 20px;
    text-align: left;
    pointer-events: auto;
}
.location:hover{
    background-color:rgb(214, 205, 205);
    color: white;
}
.check-in{
    flex:1;
    border: 1px solid transparent;
    border-radius: 32px;
    cursor: pointer;
    margin-left: 100px;
    text-align: left;
    pointer-events: auto;
}
.check-in:hover{
    background-color:rgb(223, 215, 215);
    color: white;
}
.check-out{
    flex:1;
    border: 1px solid transparent;
    border-radius: 32px;
    cursor: pointer;
    text-align: left;
    pointer-events: auto;
}
.check-out:hover{
    background-color:rgb(223, 215, 215);
    color: white;
}
.numberOfPPL{
    flex:1;
    border: 1px solid transparent;
    border-radius: 32px;
    cursor: pointer;
    text-align: left;
    pointer-events: auto;
}
.numberOfPPL:hover{
    background-color:rgb(223, 215, 215);
    color: white;
}
.search-button{
    flex:1;
    border: 1px solid;
    border-color: red;
    border-radius: 100px;
    background-color: red;
}
.search-button:hover{
    background-color: rgb(75, 73, 73);
}
.box3{
    margin: 80px;
}
.travel{
    border: 1px solid;
    border-radius: 10px;
    cursor: pointer;
    border-color: black;
    background-color: black;
    width: 160px;
    height: 30px;
}
.close{
    margin: 70px;
}
.row{
    display: flex;
    margin-top: 20px;
}
.column{
    float: left;
    padding: 5px;
}
.city{
    font-weight: bolder;
    margin-left: 10px;
    margin-top: 20px;
}
.text{
    position: absolute;
    top: 1650px;
    font-size: 50px;
    font-weight: bolder;
    padding-left: 150px;
    bottom:20px;
    color: white;
}
.textt{
    position: absolute;
    top:1890px;
    right:1210px;
    font-size: 15px;
    font-weight: bolder;
    border: 1px solid;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    background-color: white;
    color: black;
    border-radius: 10px;
    height: 40px;
    width: 150px;
}
.th, td{
    padding:10px;
    font-size: 13px;
}